{% extends 'rules/rules.html' %}
{% block backlink %}
<a href="{{ url_for('rules_core_contents') }}" class="d-flex align-items-center text-dark text-decoration-none">
    <span class="fs-4">< Contents</span>
</a>
{% endblock %}
{% block rules %}
<section>
    <div class="row">
        <div class="col">
            <h1>Units and Gear</h1>
            <h2>Unit</h2>
                <p>A unit is a single entity that exists in the tabletop. Models have the following profile stats:</p>
                <ul>
                    <li>Ranged Combat (RC)</li>
                    <li>Close Combat (CC)</li>
                    <li>Physical Toughnes (PT)</li>
                    <li>Mental Toughness (MT)</li>
                    <li>Hit Points (HP)</li>
                    <li>Combat Save (CS)</li>
                    <li>Movement (MV)</li>
                </ul>
            <h2>Gear</h2>
                <p>Gear are tools and abilities used by models to perform combat actions against other units. Weapons have the following profile stats:/p>
                <ul>
                    <li>Distance (Dst)</li>
                    <li>Attacks (A)</li>
                    <li>Strength (S)</li>
                    <li>Save Modifier (SM)</li>
                </ul>
        </div>
    </div>
</section>
{% endblock %}