{% extends 'base.html' %}
{% block backlink %}
<a href="{{ url_for('index') }}" class="d-flex align-items-center text-dark text-decoration-none">
    <span class="fs-4">< Back</span>
</a>
{% endblock %}
{% block pagenav %}
<a href="{{ url_for('addsquad') }}" class="d-flex align-items-center text-dark text-decoration-none">
    <span class="fs-4">Add+</span>
</a>
{% endblock %}
{% block content %}
<div class="container mt-5"
    x-data="main()"
    x-init="populateData()">

    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-sm" x-init="getSquads()">
                    <tr>
                        <td>Id</td>
                        <td>Squad</td>
                        <td>details</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <template x-for="(squad) in squads">
                        <tr>
                            <td x-text="squad.id"></td>
                            <td x-text="squad.squadName"></td>
                            <td x-text="JSON.stringify(squad.squadUnits)"></td>
                            <td><button class="btn btn-sm btn-primary" x-on:click="editSquad(squad.id)">Edit</button></td>
                            <td><button class="btn btn-sm btn-danger" x-on:click="deleteSquad(squad.id)">Delete</button></td>
                        </tr>
                    </template>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function main() {
        return {

            units: [],
            gear: [],
            async populateData() {
                this.units = await idb.readTable('Units');
                this.gear = await idb.readTable('Gear');
            },
            editSquad(id) {
                console.log(id);
            },
            deleteSquad(id){
                console.log(id);
            }
        }
    }
</script>
{% endblock %}