{% extends 'base.html' %}
{% block backlink %}
<a href="{{ url_for('battlesquadscreator') }}" class="d-flex align-items-center text-dark text-decoration-none">
    <span class="fs-4">< Back</span>
</a>
{% endblock %}
{% block content %}
<div class="container mt-5"
    x-data="main()">

    <div class="row">
        <div class="col">
            <form action="">
                <div>
                    <label class="form-label" for="squadName">Squad name:</label>
                    <input type="text" name="squadName" id="squadName" class="form-control">
                </div>
                <div>
                    <button class="btn btn-success">Add Units</button>
                    <template x-for="each in units">
                        <a href="#" class="text-decoration-none text-dark fs-3"><div class="border-bottom d-flex flex-row p-3"><div class="d-flex flex-fill" x-text="each"></div><div class="d-inline-flex"> > </div></div></a>
                    </template>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function main() {
        return {
            units: [],

        }
    }
</script>
{% endblock %}