{% extends 'base.html' %}
{% block content %}
<div class="container" x-data="main()">
    <div class="row">
        <div class="col">
            <a href="{{ url_for('index') }}">Back</a>
            <span>Gear Creator</span>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <form action="">
                <div>
                    <div>
                        <label class="form-label" for="gearName">Gear name:</label><br>
                        <input type="text" name="gearName" id="gearName" class="form-control" x-model="gearName">
                    </div>
    
                    <div>
                        <label class="form-label" for="gearDistanceValue">Distance:</label><br>
                        <input type="number" min="0" name="gearDistanceValue" id="gearDistanceValue" class="form-control" x-model.number="distance">
                        <input type="number" name="gearDistanceCost" id="gearDistanceCost" class="form-control" x-bind:value="distanceCost" disabled><br>
                    </div>
    
                    <div>
                        <label class="form-label" for="gearAttackValue">Attacks:</label><br>
                        <input type="number" min="1" name="gearAttackValue" id="gearAttackValue" class="form-control" x-model.number="attacks">
                        <input type="number" name="gearAttackCost" id="gearAttackCost" class="form-control" x-bind:value="attacksCost" disabled><br>
                    </div>
    
                    <div>
                        <label class="form-label" for="gearStrengthValue">Strength:</label><br>
                        <input type="number" min="0" name="gearStrengthValue" id="gearStrengthValue" class="form-control" x-model.number="strength">
                        <input type="number" name="gearStrengthCost" id="gearStrengthCost" class="form-control" x-bind:value="strengthCost" disabled><br>
                    </div>
    
                    <div>
                        <label class="form-label" for="gearSaveModifierValue">Save Modifier:</label><br>
                        <input type="number" min="0" max="5" name="gearSaveModifierValue" id="gearSaveModifierValue" class="form-control" x-model.number="saveModifier">
                        <input type="number" name="gearSaveModifierCost" id="gearSaveModifierCost" class="form-control" x-bind:value="saveModifierCost" disabled><br>
                    </div>
    
                    <div>
                        <label class="form-label" for="gearTotalCost">Total Cost:</label><br>
                        <input type="number" name="gearTotalCost" id="gearTotalCost" class="form-control" x-bind:value="totalCost" disabled>
                    </div>
                </div>
                <input type="Button" value="Save" class="btn btn-primary" x-on:click.prevent="addBattleGear">
                <input type="Button" value="Clear" class="btn btn-secondary" x-on:click.prevent="resetForm">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table" x-init="getBattleGear()">
                <tr>
                    <th>Id</th>
                    <th>Gear Name</th>
                    <th>DST</th>
                    <th>A</th>
                    <th>S</th>
                    <th>SM</th>
                    <th>Point Cost</th>
                    <th></th>
                    <th></th>
                </tr>
                <template x-for="(gear, index) in units">
                    <tr>
                        <td x-text="gear.id"></td>
                        <td x-text="gear.gearName"></td>
                        <td x-text="gear.distance"></td>
                        <td x-text="gear.attacks"></td>
                        <td x-text="gear.strength"></td>
                        <td x-text="gear.saveModifier"></td>
                        <td x-text="gear.totalPointCost"></td>
                        <td><button class="btn btn-primary" x-on:click="editBattleGear(gear.id)">Edit</button></td>
                        <td><button class="btn btn-danger" x-on:click="deleteGear(gear.id)">Delete</button></td>
                    </tr>
                </template>
            </table>
        </div>
    </div>

</div>

    {% block javascript %}
    <script>
    function main() {
        return { 
            gearId: null,
            gearName: '',
            saveModifier: 0,
            strength: 0,
            attacks: 1,
            distance: 0,

            units: [],

            get saveModifierCost() { return (Math.pow(1.50, this.saveModifier) - 1 ) * this.attacks },
            get strengthCost() { return Math.pow(1.15, this.strength) * this.attacks },
            get attacksCost() { return ( Math.pow(1.25, this.attacks) - 1 ) },
            get distanceCost() { return ( this.distance * 0.05) * this.attacks },
            get totalCost() { return ( this.distanceCost + this.attacksCost + this.strengthCost + this.saveModifierCost )},


            async getBattleGear() {
                this.units = await idb.readTable('Gear');
                // console.log(this.units);
            },
            addBattleGear() {
                // console.log('hello')
                let tempGear;
                if (this.gearId != null) {
                    tempGear = {
                        'id': this.gearId,
                        'gearName': this.gearName,
                        'distance': this.distance,
                        'attacks': this.attacks,
                        'strength': this.strength,
                        'saveModifier': this.saveModifier,
                        'totalPointCost': this.totalCost
                    }
                } else {
                    tempGear = {
                        'gearName': this.gearName,
                        'distance': this.distance,
                        'attacks': this.attacks,
                        'strength': this.strength,
                        'saveModifier': this.saveModifier,
                        'totalPointCost': this.totalCost
                    }
                }
                // console.log(tempGear); 
                // console.log(this.squadId);
                idb.createEntry('Gear', tempGear)
                    .then((resp) => {
                        // console.log(resp);
                        // this.gearId = resp.result;
                        this.resetForm();
                        this.getBattleGear();
                    });
                // console.log(this.squadId);
            },
            editBattleGear(gearId) {
                // console.log(gearId);    
                idb.readTableEntry('Gear', gearId)
                    .then((resp) => {
                        console.log(resp);
                        this.gearId = resp.id;
                        this.gearName = resp.gearName;
                        this.distance = resp.distance;
                        this.attacks = resp.attacks;
                        this.strength = resp.strength;
                        this.saveModifier = resp.saveModifier;
                    });
            },
            deleteGear(gearId) {
                // console.log(gearId);
                idb.deleteEntry('Gear', gearId)
                    .then((resp) => {
                        this.getBattleGear();
                    });
            },
            resetForm() {
                this.gearId = null;
                this.gearName = '';
                this.distance = 0;
                this.attacks = 1;
                this.strength = 0;
                this.saveModifier = 0;
            },
        }
    }
    </script>
    {% endblock %}
{% endblock %}