{% extends 'base.html' %}
{% block content %}
    <div>
        <a href="{{ url_for('index') }}">Back</a>
    </div>
    <div 
    x-data="main()"
    x-init="populateData()">
        <form action="">
            <div>
                <div>
                    <label for="squadName">Squad name:</label><br>
                    <input type="text" name="squadName" id="squadName" x-model="squadName">
                </div>

                <div>
                    <button x-on:click.prevent="addUnitToSquad">Add Unit</button>
                </div>
                <template x-for="(squadUnit, index) in squadUnits" :key="index">
                    <div>
                        <div>
                            <select name="unit" id="unit">
                                <option value="unit">Choose a unit:</option>
                                <template x-for="unit in units">
                                    <option value="unit" x-text="unit.unitName" x-on:click="selectedUnit(unit, squadUnit)" x-bind:selected="unit.id === squadUnit.unitId"></option>
                                </template>
                            </select>
                        </div>
                        <div>
                            <label for="squadUnitName">Name:</label><br>
                            <input type="text" name="squadUnitName" id="squadUnitName" x-model="squadUnit.name">
                        </div>
                        <div>
                            <label for="squadUnitQuantity">Quantity:</label><br>
                            <input type="number" min="0" name="squadUnitQuantity" id="squadUnitQuantity" x-model.number="squadUnit.quantity">
                        </div>
                        <div>
                            <button x-on:click.prevent="addGearToSquad(squadUnit)">Add Gear</button>
                        </div>
                        <template x-for="(g, gindex) in squadUnit.gear" :key="gindex">
                            <div>
                                <select name="gear" id="gear">
                                    <option value="gear">Choose gear:</option>
                                    <template x-for="each in gear">
                                        <option value="gear" x-value="each.gearName" x-text="each.gearName" x-on:click="selectedGear(each, g)" x-bind:selected="each.id === g.gearId"></option>
                                    </template>
                                </select>
                                <label for="gearQuantity">Quantity:</label><br>
                                <input type="number" min="0" name="gearQuantity" id="gearQuantity" x-model.number="g.quantity">
                                <label for="gearCost">Cost:</label><br>
                                <input type="number" min="0" name="gearCostTotal" id="gearCostTotal" x-bind:value="(g.quantity * g.cost)" x-model="g.totalGearCost" disabled>
                                <button x-on:click.prevent="deleteItem(gindex, squadUnit.gear)">Delete</button>
                            </div>
                        </template>
                        <div>
                            <button x-on:click.prevent="deleteItem(index, squadUnits)">Delete</button>
                        </div>
                    </div>
                </template>
                <div>
                    <input type="number" min="0" name="unitCostTotal" id="unitCostTotal" x-bind:value="(promiseUnitCost + promiseGearCost)" x-init="$watch('squadUnits', () => totalCostCalculator())" disabled>
                </div>
                <div>
                    <input type="Button" value="Save" x-on:click.prevent="addToSqaudsTable">
                    <input type="Button" value="Clear" x-on:click.prevent="resetForm">
                </div>
            </div>
        </form>
        <table x-init="getSquads()">
            <tr>
                <td>Id</td>
                <td>Squad</td>
                <td>details</td>
                <td></td>
                <td></td>
            </tr>
            <template x-for="(squad) in squads">
                <tr>
                    <td x-text="squad.id"></td>
                    <td x-text="squad.squadName"></td>
                    <td x-text="JSON.stringify(squad.squadUnits)"></td>
                    <td><button x-on:click="editSquad(squad.id)">Edit</button></td>
                    <td><button x-on:click="deleteSquad(squad.id)">Delete</button></td>
                </tr>
            </template>
        </table>
    </div>

    {% block javascript %}
    <script>
    async function addEntry(entry) {
        let result = await idb.createEntry('battleSquads', entry)
            .then(function(request) { return request.result });
        return result;
    }

    async function getData(table, id) {
        return await idb.readTableEntry(table, id)
    }

    function main() {
        return { 

            squads: [],
            async getSquads() {
                this.squads = await idb.readTable('battleSquads');
            },
            deleteSquad(squadId) {
                idb.deleteEntry('battleSquads', squadId)
                    .then((resp) => {
                        this.squads = this.getSquads();
                    });
            },
            editSquad(squadId) {
                idb.readTableEntry('battleSquads', squadId)
                    .then((resp) => {
                        this.squadId = resp.squadId;
                        this.squadName = resp.squadName;
                        this.squadUnits = resp.squadUnits;
                    });
            },

            squadName: '',
            squadUnits: [],
            squadId: null,
            
            units: [],
            gear: [],

            promiseUnitCost: 0,
            promiseGearCost: 0,

            async populateData() {
                this.units = await idb.readTable('Units');
                this.gear = await idb.readTable('Gear');
            },
            async addToSqaudsTable() {
                let squad;
                if (this.squadId != null) {
                    squad = {
                        'squadName': this.squadName,
                        'squadUnits': JSON.parse(JSON.stringify(this.squadUnits)),
                        'id': this.squadId
                    }
                } else {
                    squad = {
                        'squadName': this.squadName,
                        'squadUnits': JSON.parse(JSON.stringify(this.squadUnits))
                    }
                }
                // console.log(squad);
                // console.log(this.squadId);
                idb.createEntry('battleSquads', squad)
                    .then((resp) => {
                        console.log(resp);
                        this.squadId = resp.result;
                        this.squads = this.getSquads();
                    });
                // console.log(this.squadId);
            },
            addUnitToSquad(){
                this.squadUnits.push({
                    'id': this.squadUnits.length + 1,
                    'name': '',
                    'unitId': 0,
                    'quantity': 0,
                    'gear': []
                });
            },
            addGearToSquad(squadUnit) {
                squadUnit.gear.push({
                    'id': squadUnit.gear.length + 1,
                    'gearId': 0,
                    'quantity': 0
                });
            },
            resetForm() {
                this.squadId = null;
                this.squadName = null;
                this.squadUnits = [];
            },
            deleteItem(index, theArray){
                theArray.splice(index, 1);
            },
            selectedGear(gear, squadUnitGear) {
                squadUnitGear.gearId = gear.id;
                squadUnitGear.cost = gear.totalPointCost;
            },
            selectedUnit(unit, squadUnit) {
                squadUnit.unitId = unit.id;
                squadUnit.cost = unit.totalPointCost;
            },
            totalCostCalculator() {
                this.promiseUnitCost = 0;
                this.promiseGearCost = 0;
                this.squadUnits.forEach((element) => {
                    // console.log(element);
                    if (element) {
                        // console.log(element);
                        idb.readTableEntry('Units', element.unitId).then((response) => {
                            // console.log(e);
                            if (response) {
                                this.promiseUnitCost = this.promiseUnitCost + (response.totalPointCost * element.quantity);
                            }
                        });
                        if (element.gear) {
                            element.gear.forEach((e) => {
                                // console.log(e);
                                idb.readTableEntry('Gear', e.gearId).then((response) => {
                                    if (response) {
                                        this.promiseGearCost = this.promiseGearCost + (response.totalPointCost * e.quantity);
                                    }
                                });
                            });
                        }
                    }
                });
            },
        }
    }
    </script>
    {% endblock %}
{% endblock %}