{% extends 'base.html' %}
{% block content %}
    <div>
        <a href="{{ url_for('index') }}">Back</a>
    </div>
    <div 
    x-data="main()"
    x-init="populateData()">
        <form action="">
            <div>
                <div>
                    <label for="squadName">Squad name:</label><br>
                    <input type="text" name="squadName" id="squadName" x-model="squadName">
                </div>

                <div>
                    <button x-on:click.prevent="addUnitToSquad">Add Unit</button>
                </div>
                <template x-for="(squadUnit, index) in squadUnits" :key="index">
                    <div>
                        <div>
                            <select name="unit" id="unit">
                                <option value="unit">Choose a unit:</option>
                                <template x-for="unit in units">
                                    <option value="unit" x-text="unit.unitName" x-on:click="selectedUnit(unit, squadUnit)" x-bind:selected="unit.id === squadUnit.unitId"></option>
                                </template>
                            </select>
                        </div>
                        <div>
                            <label for="squadUnitName">Name:</label><br>
                            <input type="text" name="squadUnitName" id="squadUnitName" x-model="squadUnit.name">
                        </div>
                        <div>
                            <label for="squadUnitQuantity">Quantity:</label><br>
                            <input type="number" min="0" name="squadUnitQuantity" id="squadUnitQuantity" x-model="squadUnit.quantity">
                        </div>
                        <div>
                            <button x-on:click.prevent="addGearToSquad(squadUnit)">Add Gear</button>
                        </div>
                        <template x-for="(g, gindex) in squadUnit.gear" :key="gindex">
                            <div>
                                <select name="gear" id="gear">
                                    <option value="gear">Choose gear:</option>
                                    <template x-for="each in gear">
                                        <option value="gear" x-value="each.gearName" x-text="each.gearName" x-on:click="selectedGear(each, g)" x-bind:selected="each.id === g.gearId"></option>
                                    </template>
                                </select>
                                <label for="gearQuantity">Quantity:</label><br>
                                <input type="number" min="0" name="gearQuantity" id="gearQuantity" x-model="g.quantity">
                                <label for="gearCost">Cost:</label><br>
                                <input type="number" min="0" name="gearCostTotal" id="gearCostTotal" x-bind:value="(g.quantity * g.cost)" x-model="g.totalGearCost" disabled>
                                <button x-on:click.prevent="deleteItem(gindex, squadUnit.gear)">Delete</button>
                            </div>
                        </template>
                        <div>
                            <button x-on:click.prevent="deleteItem(index, squadUnits)">Delete</button>
                        </div>
                    </div>
                </template>
                <div>
                    <input type="number" min="0" name="unitCostTotal" id="unitCostTotal" x-bind:value="totalCostCalculator" disabled>
                </div>
                <div>
                    <input type="Button" value="Save" x-on:click.prevent="addToSqaudsTable">
                </div>
            </div>
        </form>
    </div>

    {% block javascript %}
    <script>
    async function addEntry(unit) {
        let result = await idb.createEntry('battleSquads', {
            squadName: unit.squadName,
            squadUnits: JSON.parse(JSON.stringify(unit.squadUnits))
        }).then(function(request) { return request.result });
        return result;
    }

    async function getData(table, id) {
        return await idb.readTableEntry(table, id)
    }

    function main() {
        return { 
            squadName: '',
            squadUnits: [],
            
            units: [],
            gear: [],

            async populateData() {
                this.units = await idb.readTable('Units');
                this.gear = await idb.readTable('Gear');
            },
            async addToSqaudsTable() {
                let squad = {
                    'squadName': this.squadName,
                    'squadUnits': this.squadUnits,
                }
                console.log(squad);
                squad.id = await addEntry(squad);
            },
            addUnitToSquad(){
                this.squadUnits.push({
                    'id': this.squadUnits.length + 1,
                    'name': '',
                    'unitId': 0,
                    'cost': 0,
                    'quantity': 0,
                    'gear': []
                });
            },
            addGearToSquad(squadUnit) {
                squadUnit.gear.push({
                    'id': squadUnit.gear.length + 1,
                    'gearId': 0,
                    'cost': 0,
                    'quantity': 0
                });
            },
            deleteItem(index, theArray){
                theArray.splice(index, 1);
            },
            selectedGear(gear, squadUnitGear) {
                squadUnitGear.gearId = gear.id;
                squadUnitGear.cost = gear.totalPointCost;
            },
            selectedUnit(unit, squadUnit) {
                squadUnit.unitId = unit.id;
                squadUnit.cost = unit.totalPointCost;
            },
            totalCostCalculator() {
                let totalUnitCost = 0;
                let totalGearCost = 0;
                this.squadUnits.forEach(function(element) { 
                    totalUnitCost = totalUnitCost + (element.cost * element.quantity);
                    element.gear.forEach(function(e) {
                        totalGearCost = totalGearCost + (e.cost * e.quantity )
                    });
                });
                return totalUnitCost + totalGearCost
            }
        }
    }
    </script>
    {% endblock %}
{% endblock %}