{% extends 'base.html' %}
{% block content %}
    <div>
        <a href="{{ url_for('index') }}">Back</a>
    </div>
    <div 
    x-data="main()"
    x-init="populateData()">
        <form action="">
            <div>
                <div>
                    <label for="squadName">Squad name:</label><br>
                    <input type="text" name="squadName" id="squadName" x-model="squadName">
                </div>

                <div>
                    <button x-on:click.prevent="addUnitToSquad">Add Unit</button>
                </div>
                <template x-for="(squadUnit, index) in squadUnits" :key="index">
                    <div>
                        <div>
                            <select name="unit" id="unit">
                                <option value="unit">Choose a unit:</option>
                                <template x-for="unit in units">
                                    <option value="unit" x-text="unit.unitName" x-on:click="selectedUnit(unit, squadUnit)" x-bind:selected="unit.id === squadUnit.unitId"></option>
                                </template>
                            </select>
                        </div>
                        <div>
                            <label for="squadUnitName">Name:</label><br>
                            <input type="text" name="squadUnitName" id="squadUnitName" x-model="squadUnit.name">
                        </div>
                        <div>
                            <label for="squadUnitQuantity">Quantity:</label><br>
                            <input type="number" min="0" name="squadUnitQuantity" id="squadUnitQuantity" x-model="squadUnit.quantity">
                        </div>
                        <div>
                            <button x-on:click.prevent="addGearToSquad(squadUnit)">Add Gear</button>
                        </div>
                        <template x-for="(g, gindex) in squadUnit.gear" :key="gindex">
                            <div>
                                <select name="gear" id="gear">
                                    <option value="gear">Choose gear:</option>
                                    <template x-for="each in gear">
                                        <option value="gear" x-value="each.gearName" x-text="each.gearName" x-on:click="selectedGear(gindex, each, squadUnit)" x-bind:selected="each.id === g.gearId"></option>
                                    </template>
                                </select>
                                <label for="gearQuantity">Quantity:</label><br>
                                <input type="number" min="0" name="gearQuantity" id="gearQuantity" x-model="g.quantity">
                                <label for="gearCost">Cost:</label><br>
                                <input type="number" min="0" name="gearCostTotal" id="gearCostTotal" x-bind:value="(g.quantity * g.cost)" x-model="g.totalGearCost" disabled>
                                <button x-on:click.prevent="deleteItem(gindex, squadUnit.gear)">Delete</button>
                            </div>
                        </template>
                        <div>
                            <input type="number" min="0" name="unitCostTotal" id="unitCostTotal" x-bind:value="(squadUnit.cost * squadUnit.quantity)" disabled>
                            <p x-text="squadUnits"></p>
                            <p x-text="squadUnit.unitId"></p>
                            <p x-text="squadUnit.name"></p>
                            <p x-text="squadUnit.cost"></p>
                            <p x-text="squadUnit.quantity"></p>
                            <p x-text="(squadUnit.cost * squadUnit.quantity)"></p>
                        </div>
                        <div>
                            <button x-on:click.prevent="deleteItem(index, squadUnits)">Delete</button>
                        </div>
                    </div>
                </template>
            </div>
        </form>
    </div>

    {% block javascript %}
    <script>
    async function addEntry(unit) {
        let result = await idb.createEntry('Units', {
            unitName: unit.unitName,
            rangedCombatValue: unit.RC,
            closeCombatValue: unit.CC,
            toughnessValue: unit.T,
            hitPointsValue: unit.HP,
            combatSaveValue: unit.CS,
            movementValue: unit.M,
            totalPointCost: unit.PointCost,
        }).then(function(request) { return request.result });
        return result;
    }

    function main() {
        return { 
            squadName: '',
            squadUnits: [],
            
            units: [],
            gear: [],

            async populateData(){
                this.units = await idb.readTable('Units');
                this.gear = await idb.readTable('Gear');
            },
            addUnitToSquad(){
                this.squadUnits.push({
                    'id': this.squadUnits.length + 1,
                    'name': '',
                    'unitId': 0,
                    'cost': 0,
                    'quantity': 0,
                    'gear': []
                });
            },
            addGearToSquad(squadUnit) {
                console.log(squadUnit);
                squadUnit.gear.push({
                    'id': squadUnit.gear.length + 1,
                    'name': '',
                    'gearId': 0,
                    'cost': 0,
                    'quantity': 0,
                    'totalGearCost': 0
                });
            },
            deleteItem(index, theArray){
                console.log(theArray);
                console.log(index);
                theArray.splice(index, 1);
            },
            selectedGear(index, gear, squadUnit) {
                squadUnit.gear[index]['gearId'] = gear.id;
                squadUnit.gear[index]['cost'] = gear.totalPointCost;
            },
            selectedUnit(unit, squadUnit) {
                squadUnit.unitId = unit.id;
                squadUnit.cost = unit.totalPointCost;
            },
            totalCost(squadUnit) {
                console.log(squadUnit);
                let totalCost = 0;
                let totalGearCost = 0;
                squadUnit.gear.forEach(function(element) {totalGearCost = totalGearCost + element.totalGearCost });
                totalCost = (squadUnit.qauntity * squadUnit.cost) + (totalGearCost);
                return totalCost
            }
        }
    }
    </script>
    {% endblock %}
{% endblock %}