{% extends 'base.html' %}
{% block backlink %}
<a href="{{ url_for('index') }}" class="d-flex align-items-center text-dark text-decoration-none">
    <span class="fs-4">< Back</span>
</a>
{% endblock %}
{% block content %}
<div class="container mt-5"
    x-data="main()"
    x-init="units = await idb.readTable('Units')">

    <div class="row">
        <div class="col">
            <h1 class="fs-4">Unit Creator</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form action="">
                <div>
                    <div>
                        <label class="form-label" for="unitName">Unit name:</label><br>
                        <input class="form-control" type="text" name="unitName" id="unitName" x-model="unitName">
                    </div>
    
                    <div>
                        <label class="form-label" for="rangedCombat">Ranged Combat:</label><br>
                        <input type="number" min="0" max="5" name="rangedCombat" id="rangedCombat" class="form-control"  x-model="rangedCombat">
                        <input type="number" name="rangedCombat" id="rangedCombat" class="form-control"  x-bind:value="pointcostRC" disabled><br>
                    </div>
    
                    <div>
                        <label class="form-label" for="closeCombat">Close Combat:</label><br>
                        <input type="number" min="0" max="5" name="closeCombat" id="closeCombat" class="form-control"  x-model="closeCombat">
                        <input type="number" name="closeCombat" id="closeCombat" class="form-control"  x-bind:value="pointcostCC" disabled><br>
                    </div>
    
                    <div>
                        <label class="form-label" for="physicalToughness">Physical Toughness:</label><br>
                        <input type="number" min="2" name="physicalToughness" id="physicalToughness" class="form-control"  x-model="physicalToughness">
                        <input type="number" name="physicalToughness" id="physicalToughness" class="form-control" x-bind:value="pointcostPT" disabled><br>
                    </div>
    
                    <div>
                        <label class="form-label" for="mentalToughness">Mental Toughness:</label><br>
                        <input type="number" min="2" name="mentalToughness" id="mentalToughness" class="form-control" x-model="mentalToughness">
                        <input type="number" name="mentalToughness" id="mentalToughness" class="form-control" x-bind:value="pointcostMT" disabled><br>
                    </div>
    
                    <div>
                        <label class="form-label" for="hitPoints">Hit Points:</label><br>
                        <input type="number" min="1" value="1" name="hitPoints" id="hitPoints" class="form-control" x-model="hitPoints">
                        <input type="number" name="hitPoints" id="hitPoints" class="form-control" x-bind:value="pointcostHP" disabled><br>
                    </div>
    
                    <div>
                        <label class="form-label" for="combatSave">Combat Save:</label><br>
                        <input type="number" min="0" max="5" name="combatSave" id="combatSave" class="form-control" x-model="combatSave">
                        <input type="number" name="combatSave" id="combatSave" class="form-control" x-bind:value="pointcostCS" disabled><br>
                    </div>
    
                    <div>
                        <label class="form-label" for="movement">Movement:</label><br>
                        <input type="number" min="0" name="movement" id="movement" class="form-control" x-model="movement">
                        <input type="number" name="movement" id="movement" class="form-control" x-bind:value="pointcostMV" disabled><br>
                    </div>
    
                    <div>
                        <label class="form-label" for="TotalCost">Total Cost:</label><br>
                        <input type="number" name="TotalCost" id="TotalCost" class="form-control" x-bind:value="totalCost" disabled>
                    </div>
                </div>
                <input type="Button" value="Save" class="btn btn-primary" x-on:click.prevent="addBattleUnit">
                <input type="Button" value="Clear" class="btn btn-secondary" x-on:click.prevent="resetForm">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-sm" x-init="getBattleUnits()">
                    <tr>
                        <th>Id</th>
                        <th>Unit Name</th>
                        <th>RC</th>
                        <th>CC</th>
                        <th>PT</th>
                        <th>MT</th>
                        <th>HP</th>
                        <th>CS</th>
                        <th>M</th>
                        <th>Point Cost</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <template x-for="(unit, index) in units">
                        <tr>
                            <td x-text="unit.id"></td>
                            <td x-text="unit.unitName"></td>
                            <td x-text="unit.rangedCombat"></td>
                            <td x-text="unit.closeCombat"></td>
                            <td x-text="unit.physicalToughness"></td>
                            <td x-text="unit.mentalToughness"></td>
                            <td x-text="unit.hitPoints"></td>
                            <td x-text="unit.combatSave"></td>
                            <td x-text="unit.movement"></td>
                            <td x-text="unit.totalPointCost"></td>
                            <td><button class="btn btn-sm btn-primary" x-on:click="editBattleUnit(unit.id)">Edit</button></td>
                            <td><button class="btn btn-sm btn-danger" x-on:click="deleteBattleUnit(unit.id)">Delete</button></td>
                        </tr>
                    </template>
                </table>
            </div>
        </div>
    </div>

</div>


    {% block javascript %}
    <script>
    function main() {
        return { 
            unitId: null,
            unitName: '',
            rangedCombat: 0,
            closeCombat: 0,
            physicalToughness: 2,
            mentalToughness: 2,
            hitPoints: 1,
            combatSave: 0,
            movement: 0,

            units: [],
            
            get pointcostRC() { return ( Math.pow(1.50, this.rangedCombat) - 1 ) * this.hitPoints },
            get pointcostCC() { return ( Math.pow(1.50, this.closeCombat) - 1 ) * this.hitPoints },
            get pointcostCS() { return ( Math.pow(1.50, this.combatSave) - 1 ) * this.hitPoints },
            get pointcostPT() { return ( Math.pow(1.15, this.physicalToughness ) ) * this.hitPoints },
            get pointcostMT() { return ( Math.pow(1.15, this.mentalToughness ) ) * this.hitPoints },
            get pointcostHP() { return ( Math.pow(1.25, this.hitPoints) ) },
            get pointcostMV() { return ( 0.25 * this.movement ) * this.hitPoints },
            get totalCost() { return ( this.pointcostRC + this.pointcostCC + this.pointcostPT + this.pointcostMT + this.pointcostCS + this.pointcostMV + this.pointcostHP ) },


            async getBattleUnits() {
                this.units = await idb.readTable('Units');
                // console.log(this.units);
            },
            addBattleUnit() {
                // console.log('hello')
                let tempUnit;
                if (this.unitId != null) {
                    tempUnit = {
                        id: this.unitId,
                        unitName: this.unitName,
                        rangedCombat: this.rangedCombat,
                        closeCombat: this.closeCombat,
                        physicalToughness: this.physicalToughness,
                        mentalToughness: this.mentalToughness,
                        hitPoints: this.hitPoints,
                        combatSave: this.combatSave,
                        movement: this.movement,
                        totalPointCost: this.totalCost,
                    }
                } else {
                    tempUnit = {
                        unitName: this.unitName,
                        rangedCombat: this.rangedCombat,
                        closeCombat: this.closeCombat,
                        physicalToughness: this.physicalToughness,
                        mentalToughness: this.mentalToughness,
                        hitPoints: this.hitPoints,
                        combatSave: this.combatSave,
                        movement: this.movement,
                        totalPointCost: this.totalCost,
                    }
                }
                // console.log(tempGear); 
                // console.log(this.squadId);
                idb.createEntry('Units', tempUnit)
                    .then((resp) => {
                        // console.log(resp);
                        // this.gearId = resp.result;
                        this.resetForm();
                        this.getBattleUnits();
                    });
                // console.log(this.squadId);
            },
            editBattleUnit(unitId) {
                // console.log(gearId);    
                idb.readTableEntry('Units', unitId)
                    .then((resp) => {
                        // console.log(resp);
                        this.unitId = resp.id,
                        this.unitName = resp.unitName;
                        this.rangedCombat = resp.rangedCombat;
                        this.closeCombat = resp.closeCombat;
                        this.physicalToughness = resp.physicalToughness;
                        this.mentalToughness = resp.mentalToughness;
                        this.hitPoints = resp.hitPoints;
                        this.combatSave = resp.combatSave;
                        this.movement = resp.movement;
                    });
            },
            deleteBattleUnit(unitId) {
                // console.log(gearId);
                idb.deleteEntry('Units', unitId)
                    .then((resp) => {
                        this.getBattleUnits();
                    });
            },
            resetForm() {
                this.unitId = null,
                this.unitName = '';
                this.rangedCombat = 0;
                this.closeCombat = 0;
                this.physicalToughness = 2;
                this.mentalToughness = 2;
                this.hitPoints = 1;
                this.combatSave = 0;
                this.movementValue = 0;
            },
        }
    }
    </script>
    {% endblock %}
{% endblock %}